<h1>
  {{title}}
</h1>
<nav>
    <ul>
      <li><a routerLink='app-root'>App Root</a></li>
      <li><a routerLink='app-games'>Games</a></li>
      <li><a routerLink='app-hobbies'>Hobbies</a></li>
      <li><a routerLink='app-create-user'>Create User</a></li>
      <li><a routerLink='app-update-user'>Update User</a></li>
      <li><a routerLink='app-delete-user'>Delete User</a></li>
      <li><a routerLink='app-account-details'>Account Details</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
